<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Anna Bella Oficial</title>

    



</head>
<body>
        <div id="principal">
            <img src="/img/capa.png" alt="">
            <div id="menu">
                <a href="/">HOME</a> |
                <a href="/biografia">BIOGRAFIA</a> |
                <a href="/campanhas">CAMPANHAS PUBLICITARIAS</a> |
                <a href="/contato">CONTATO</a>
            </div>

            <div id="conteudo"><!--Incio do conteudo-->
                <h1>Sobre Anna Bella</h1>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores libero unde quaerat architecto, doloribus odit ad alias doloremque corrupti accusantium nam quod enim voluptatum eius ducimus esse consequatur molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nobis dicta laboriosam nam consectetur labore velit aliquam laudantium natus ut provident maiores optio sequi eligendi doloremque consequuntur magnam aliquid ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam, provident officiis, itaque sapiente reprehenderit deleniti laborum illum commodi veniam, praesentium aspernatur numquam animi alias laudantium fugiat rem dolore cupiditate.</p><br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores libero unde quaerat architecto, doloribus odit ad alias doloremque corrupti accusantium nam quod enim voluptatum eius ducimus esse consequatur molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nobis dicta laboriosam nam consectetur labore velit aliquam laudantium natus ut provident maiores optio sequi eligendi doloremque consequuntur magnam aliquid ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam, provident officiis, itaque sapiente reprehenderit deleniti laborum illum commodi veniam, praesentium aspernatur numquam animi alias laudantium fugiat rem dolore cupiditate.</p><br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores libero unde quaerat architecto, doloribus odit ad alias doloremque corrupti accusantium nam quod enim voluptatum eius ducimus esse consequatur molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nobis dicta laboriosam nam consectetur labore velit aliquam laudantium natus ut provident maiores optio sequi eligendi doloremque consequuntur magnam aliquid ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam, provident officiis, itaque sapiente reprehenderit deleniti laborum illum commodi veniam, praesentium aspernatur numquam animi alias laudantium fugiat rem dolore cupiditate.</p><br>
            </div><!--fim do conteudo-->

            <div id="rodape">   
                <h4>&copyTodos os direitos reservados</h4>
            </div>
        </div>
</body>
</html>